.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .container {
    border: 1px solid lightgray;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    z-index: 0;

    .selectedItems {
      padding-left: 2em;
    }

    .drop-down-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .country {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
  }
}
