.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 100%;
  width: 100%;

  .Button {
    display: block;
    width: 91%;
    background-color: white;
    position: relative;
    height: 30px;

    .title {
      font-weight: bold;
      font-size: 1em;
    }

    .title {
      font-size: 1.2em;
    }

    .arrow-down {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1.4em;
      font-weight: bolder;
      transform: translate(-24%, -5%);
    }

    &.button-border {
      border: 2px solid lightblue;
      border-bottom: 0;
    }
  }

  .unodered-list-none {
    display: none;
  }

  .hover {
    background-color: lightblue;
  }

  .unodered-list {
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 350px;
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
    line-height: 1.6em;
    font-weight: 700;
    overflow-y: auto;
    z-index: 1;
    border: 2px solid lightblue;
    border-top: 0;

    .list-style {
      font-size: 1em;

      &:hover {
        background-color: lightblue;
      }

      &.list-active {
        background-color: lightblue;
      }
    }

    .unodered-list-input {
      position: sticky;
      top: 0;
      width: auto;
      height: auto;
      font-size: 0.9vw;
      z-index: 1;

      &:hover {
        background-color: white;
      }

      .input {
        width: 90%;
        height: 20px;
      }
    }
  }
}
